<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with( model: @movie, method: :patch) do |form|%>

  <div>
    <%= form.label :title, "Movie Title" %>
    <%= form.text_field :title %>
  </div>

  <div>
  <%= form.label :description, "Movie Description" %>
  <%= form.text_area :description, rows: 3 %>
  </div>

 <%= button_tag "Submit"%>

<% end %>
